

 body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(180deg, hsla(154, 53%, 82%, 1) 0%, hsla(24, 88%, 65%, 1) 50%, hsla(216, 56%, 16%, 1) 100%);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
 }
 h1{
    color: white;
    position: absolute;
    margin-bottom: 850px;
 }
 #gameContainer{
    text-align: center;
 }
 #gameCanvas{
    background-color:hsla(210, 81%, 22%, 1);
    border: 2px solid #151e06;
    border-radius: 25px;
 }
 #scoreBoard{
    margin-top: 10px;
    color: white;
 }
 #controls{
    margin-top: 10px;
 }
 #directionButtons{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 15px;
    margin-top: 15px;
 }
 button{
    padding: 10px;
    font-size: 1rem;
    cursor: pointer;
    background-color: transparent;
    border: 2px solid #151e06;
    border-radius: 25px;
    color: white;
 }